@dark: #bbb;
@bright: #eee;
@white: #fff;
@sizeLeft: 20%;
@sizeRight:100% - @sizeLeft;
@heightFooter:5vh;


#signature
{
  position: absolute;
  bottom :0px;
  right: 10px;
  text-shadow: 2px 1px @white;
  color:#333;
}

#title
{
  margin-left: 5%;
  padding-top: 2vh;
  float:left;
}

#footer
{
  position:absolute;
  height:@heightFooter;
  width:100%;
  bottom: 0px;
  background-color: @bright;
  border-top: 1px solid @dark;
  color:#666;
  text-align: center;
}

.centerContainer
{
  position:absolute;
  top:40%;
}

a:hover {
    text-decoration: none;
}

body
{
  background-color: @bright;
  overflow-x:hidden;
}
